body {
    color: navy;
}

/* Change link color to a darker shade of green */
a {
    color: navy;
}

/* Change hover color to a lighter shade of green */
a:hover {
    color: #00b300;
}

.navbar .nav-item .nav-link .dropdown-menu {
    color: green;
}

.nav-link {
    color: navy;

    background-color: #BCA136;
}

#categs:hover {
    background-color: #00b300;
    transform: scale(1.1);
}

.dropdown-menu.show {
    background-color: #BCA136;
}

#navbarA {
    color: navy;
}

#navbarA:hover {
    cursor: pointer;
}

#row {
    /* width:100% */
    --bs-gutter-x: 0rem;
}



#dustbinIconCart:hover{
    cursor: pointer;
}